parameters:
  ignoreErrors:
    - message: '#retrieveWebPage\(\) should return .*WebPage\|null but returns .*WebResourceInterface\|null#'
      path: %currentWorkingDirectory%/src/WebsiteRssFeedFinder